.footer {
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
  color: white;
  background: linear-gradient(90deg, rgba(227,233,238,1) 0%, rgba(196,196,241,1) 100%);
  box-shadow: 0 -8px 6px -6px black;
}
